.endGameController, .colorWindowContainer, {
  z-index: 9999;
  bottom:0;
  left:0;
  position: fixed;
  right: 0;
  top: 0;
  color:white;
  /* height: 100%;
  position: absolute;
  padding-left: 100px; */
}


.tournamentWinner{
  z-index: 9999;
  bottom:0;
  left:0;
  position: fixed;
  right: 0;
  top: 0;
  color:white;
  background: green;
  text-align: center;
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* float: left; */
}
.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #3e8e41;
}

.boardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.arrowImage {
  width: 70px;
  height: 70px;
}

.tableInfo {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between center;
}


.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}

button.red, button.blue, button.green, button.yellow{
  width: 60px;
  height: 60px;
}

.colorWindow{
  position: absolute;
  width: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  text-align: center;
}

body{
  background-color:green;
  display: flex;
  justify-content: center;
}

.App, .boardContainer {
  height: 100%;
}

.ImDoneButton{
  width: 100px;
  height: 50px;
  background: lightskyblue;
  font-size: 18px;
  color:black;
}

.colorWindow{
  position: absolute;
  width: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Table Deck */
.tableDeck{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tableDeckCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Player */
.player1, .player2, .middleDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.playerCardsContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 50px;
}

.player2 {
  /* position: fixed; */
  bottom: 0;
}

/* Cards */
.card {
  height: 180px;
  width: 120px;
  margin: 0 auto;
  display: inline-block;
  transition: all .3s ease-in-out;  
  position: relative;
}

.play , .Tournament{
  width: 150px;
  height: 70px;
  font: bold 16px/30px Georgia, serif;
}

.player2>.playerCardsContainer>div>.card:hover{
  transform: translateY(-50px);  
}
/* 
.numberOfGame, .player1Score, .player2Score{
  width: 30%;
  float:letf;
} */


.TournamentData{
  width: 100%;
  /* position: flex;  */
}

/* ------------------------------------------------------------------------ */

@media all and (max-height: 610px) , all and (max-width: 600px){
  .card {
    height: 150px;
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    transition: all .3s ease-in-out;  
    position: relative;
  }

  .arrowImage{
    width: 50px;
    height: 50px;
  }
  
  .boardContainer{
    font-size: 12px;
  }

  .ImDoneButton{
    width: 80px;
    height: 40px;
    background:lightskyblue;
    font-size: 14px;
    color: black;
  }
}

@media all and (max-height: 500px) , all and (max-width: 530px){
  .card {
    height: 110px;
    width: 90px;
    margin: 0 auto;
    display: inline-block;
    transition: all .3s ease-in-out;  
    position: relative;
  }

  .arrowImage{
    width: 40px;
    height: 40px;
  }

  .boardContainer{
    font-size: 10px;
  }

  .ImDoneButton{
    width: 50px;
    height: 30px;
    background:lightskyblue;
    font-size: 80%;
    color: black;
  }
} 

/* @media all and (max-height: 370px) , all and (max-width: 400px){
  .card {
    height:90px;
    width: 60px;
    margin: 0 auto;
    display: inline-block;
    transition: all .3s ease-in-out;  
    position: relative;
  }

  .arrowImage{
    width: 40px;
    height: 40px;
  }

  .boardContainer{
    font-size: 10px;
  }
}  
 */
